<!--footer section-->
<section class="light-footer wrapper py-5">
   <div class="container-fluid py-5">
     <div class="row container-fluid py-5">
        <div class="col-4">
           <a href="https://www.flaticon.com/free-icons/graphic-design" title="graphic design icons"><img src="/images/layerBrand.png" style="width: 95px; height:95px" alt="Layerlabs Brand Logo"><br>
           <span style="color: rgb(255, 255, 255); font-size: 3px;">Graphic design icons created by verry purnomo - Flaticon</span></a>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col">
                  <h1 style="font-size: 2.5vh;">Disvcover</h1><hr style="color: rgb(184, 184, 184);">
                  <ul>
                   <a href="/discover">Discover Home</a>
                   <a href="/discover/personal">Personal</a><br>
                   <a href="/discover/portfolio">Portfolio</a><br>
                   <a href="/discover/business">Business</a>
                 </ul>
               </div>
               <div class="col">
                 <h1 style="font-size: 2.5vh;">Layerlabs</h1><hr style="color: rgb(184, 184, 184);">
                 <ul>
                    <a href="/about">About</a></br>
                    <a href="/about/bio">Personal Portfolio</a></br>
                    <a href="/contact">Contact</a><br>
                    <!-- <a href="/faq">FAQ</a> -->
                  </ul>
               </div>
               <div class="col">
                 <h1 style="font-size: 2.5vh;">Work</h1><hr style="color: rgb(184, 184, 184);">
                 <ul>
                   <a href="/projects">Work Home</a>
                   <a href="/projects/viewpointIreland">ViewPoint Ireland</a>
                   <a href="/projects/shirleys-art-studio">Shirley's Art Studio</a>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-2">
           <h1 class="text-center pb-3" style="font-size: 2.5vh;">Socials<span id="gradientTextTwo" style="font-size: 35px;">．</span></h1>
           <div class="col text-center">
             <a id="gradientTextTwo" class="px-2" style="font-size: 25px;" href="https://medium.com/@layerlabs.io"><i class="fa-brands fa-medium"></i></a>
             <a id="gradientTextTwo" class="px-2" style="font-size: 25px;" href="https://www.instagram.com/layerlabs.io"><i class="fa-brands fa-instagram"></i></a>
             <a id="gradientTextTwo" class="px-2" style="font-size: 25px;" href="https://github.com/TropicalXU"><i class="fa-brands fa-github"></i></a>
             <a id="gradientTextTwo" class="px-2" style="font-size: 25px;" href="https://www.linkedin.com/in/seanhackett2022/"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
         </div>
      </div>
      <hr style="color: rgb(184, 184, 184);">
      <div class="col d-flex justify-content-center pt-3">
        <img src="/images/paypal.png" style="width: 35px;height:35px;" class="mx-4" alt="">
        <img src="/images/visa.png" style="width: 35px;height:35px;" class="mx-4" alt="">
        <img src="/images/password.png" style="width: 35px;height:35px;" class="mx-4" alt="">
      </div>
      <div class="row pt-3">
        <div class="col">
          <p style="color: rgb(111, 111, 111); font-size: 10px; font-weight: bold;">© 2022 Layerlabs. All rights reserved.</p>
        </div>
        <div class="col text-end" style="font-size: 10px;">
           <a href='/legal/privacyPolicy'>Privacy Policy</a>
           <a href="/legal/termsAndConditions">Terms of Use</a>
        </div>
      </div>
   </div>
</section>


